<div class="container-full" style="max-width: 400px; margin: auto">
  <form class="text-center border border-light p-5">
    <p class="h4 mb-4">Login</p>
    <input class="form-control mb-4" pInputText type="email" name="usuario" placeholder="E-mail"
      ngModel required #usuario>
    <input class="form-control mb-4" pInputText type="password" name="senha" placeholder="Senha"
      ngModel required #senha>
    <div class="d-flex justify-content-around">
      <div>
        <a href="">Esqueci minha senha</a>
      </div>
    </div>
    <button mdbBtn color="info" block="true" class="my-4" type="submit"
      (click)="login(usuario.value, senha.value); senha.value = '';">Login</button>
  </form>
</div>