<div class="ui-g">
  <div class="ui-g-12 ui-fluid">
    <div class="div-padding-bottom">
      <p-panel header="Cadastro Rápido" [toggleable]="true" [collapsed]="true">
        <form #f autocomplete="off" (ngSubmit)="salvarGrupos()">
          <div class="ui-g">
            <div class="ui-g-12 ui-fluid">
              <label for="nomes" class="vertical-align-middle-int-box required">Nomes dos grupos</label>
              <!-- <textarea autoResize="autoResize" removido por causa de bug na rolagem -->
              <textarea #nomesField
                        placeholder="Tecle enter, dentro da caixa de texto, sempre que quiser incluir um novo registro"
                        id="nomes"
                        name="nomes"
                        [rows]="5"
                        [cols]="30"
                        pInputTextarea></textarea>
            </div>
            <div class="ui-g-12">
              <button pButton icon="fa fa-save" type="submit" label="Salvar todos" class="primeNgButtonBugFix" [disabled]="nomesField.value.trim().length == 0"></button>
            </div>
          </div>
        </form>
      </p-panel>
    </div>
    
    <div class="div-padding-bottom">
      <p-panel header="Grupos Cadastrados">
        <div class="div-padding-bottom">
          <p-table [value]="grupos" [responsive]="true"
            [paginator]="false" #tabela>
            <ng-template pTemplate="header">
              <tr>
                <th>Nome</th>
                <th class="col-ordenacao-header">Ordenação</th>
                <th class="col-acoes-header">Ações</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-grupo let-i="rowIndex">
              <tr>
                <td>{{grupo.nome}}</td>
                <td class="col-ordenacao">
                  <button pButton
                          *ngIf="!isGrupoSistema(grupo)"
                          [disabled]="isGrupoSistema(grupo) || i == 1"
                          icon="pi pi-angle-up"
                          class="width25px"
                          pTooltip="Mover para cima"
                          tooltipPosition="top"
                          (click)="changeArrayOrder(grupos, i, i-1)"></button>
                  <button pButton
                          *ngIf="!isGrupoSistema(grupo)"
                          [disabled]="isGrupoSistema(grupo) || i == grupos.length-2"
                          icon="pi pi-angle-down"
                          class="width25px"
                          pTooltip="Mover para baixo"
                          tooltipPosition="top"
                          (click)="changeArrayOrder(grupos, i, i+1)"></button>

                  <button pButton
                          *ngIf="!isGrupoSistema(grupo)"
                          [disabled]="isGrupoSistema(grupo) || i == 1"
                          icon="pi pi-angle-double-up"
                          class="width25px"
                          pTooltip="Mover para o início"
                          tooltipPosition="top"
                          (click)="moveArrayIndex(grupos, i, 1)"></button>
                  <button pButton
                          *ngIf="!isGrupoSistema(grupo)"
                          [disabled]="isGrupoSistema(grupo) || i == grupos.length-2"
                          icon="pi pi-angle-double-down"
                          class="width25px"
                          pTooltip="Mover para o fim"
                          tooltipPosition="top"
                          (click)="moveArrayIndex(grupos, i, grupos.length-2)"></button>
                </td>
                <td class="col-acoes">
                  <button pButton
                          *ngIf="!isGrupoSistema(grupo)"
                          [disabled]="isGrupoSistema(grupo)"
                          icon="fa fa-pencil-alt"
                          class="width25px"
                          pTooltip="Editar"
                          tooltipPosition="top"
                          (click)="editar(grupo)"></button>
                  <button pButton
                          *ngIf="!isGrupoSistema(grupo)"
                          [disabled]="isGrupoSistema(grupo)"
                          icon="fa fa-trash"
                          class="width25px"
                          pTooltip="Excluir"
                          tooltipPosition="top"
                          (click)="confirmarExclusao(grupo)"></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <div>Nenhum registro encontrado</div>
            </ng-template>
          </p-table>
        </div>
        <button pButton
                icon="fa fa-save"
                type="submit"
                label="Salvar ordenação"
                class="primeNgButtonBugFix"
                (click)="salvarOrdenacao()"></button>
      </p-panel>
    </div>
  </div>
</div>