<div class="container">
  <form autocomplete="off" (ngSubmit)="pesquisar()">
    <div class="ui-g">
        <div class="ui-g-12">
          <h1>{{title.getTitle()}}</h1>
        </div>
        <div class="ui-g-12 ui-fluid">
          <label>Nome</label>
          <input pInputText icon="fa fa-search" type="text" name="nome" [(ngModel)]="filtro.nome">
        </div>
        <div class="ui-g-12 ui-fluid">
          <label>E-mail</label>
          <input pInputText icon="fa fa-search" type="text" name="email" [(ngModel)]="filtro.email">
        </div>
        <div class="ui-g-12 ui-fluid">
          <label>Construtora</label>
  
          <p-dropdown placeholder="Selecione..."
            [filter]="true" [options]="construtoras"
            [(ngModel)]="idConstrutoraSelecionada" name="idConstrutoraSelecionada"></p-dropdown>
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" label="Pesquisar"></button>
        </div>
    </div>
  </form>

  <div class="ui-g">
    <div class="ui-g-12">

      <p-table [value]="usuarios" [responsive]="true"
        [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)"
        #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Construtora</th>
            <th class="width100px">Situação</th>
            <th class="col-acoes-header">Ações</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-usuario>
          <tr>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ (usuario.construtora == null) ? '' : usuario.construtora.razaoSocial }}</td>
            <td>
              <a href="javascript:;"
                [pTooltip]="usuario.ativo ? 'Desativar' : 'Ativar'"
                tooltipPosition="top"
                (click)="alternarStatus(usuario)">
                {{ usuario.ativo ? 'Ativo' : 'Inativo' }}
              </a>
            </td>
            <td class="col-acoes">
              <a pButton icon="fa fa-pencil" class="width25px"
                pTooltip="Editar" tooltipPosition="top"
                [routerLink]="['/usuarios', usuario.id]"></a>

              <button pButton icon="fa fa-trash" class="width25px"
                pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(usuario)"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhum registro encontrado
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12">
      <a pButton icon="fa fa-file" label="Novo" routerLink="/usuarios/novo"></a>
    </div>
  </div>

</div>
