<div class="container">
  <form #form autocomplete="off" (ngSubmit)="pesquisar()">
    <div class="ui-g">
        <div class="ui-g-12">
          <h1>{{title.getTitle()}}</h1>
        </div>
        <div class="ui-g-12 ui-fluid">
          <label for="nome">Nome</label>
          <input pInputText type="text" id="nome" name="nome" [(ngModel)]="filtro.nome">
        </div>
        <div class="ui-g-12 ui-fluid">
          <label for="email">E-mail</label>
          <input pInputText type="text" id="email" name="email" [(ngModel)]="filtro.email">
        </div>
        <div class="ui-g-12 ui-fluid">
          <label for="idConstrutoraSelecionada">Construtora</label>
          <p-dropdown inputId="idConstrutoraSelecionada" placeholder="Selecione..."
            [filter]="true" [options]="construtoras"
            [(ngModel)]="idConstrutoraSelecionada" name="idConstrutoraSelecionada"></p-dropdown>
        </div>

        <div class="ui-g-12">
          <button pButton icon="fa fa-search" type="submit" label="Pesquisar"></button>
          <button pButton icon="fa fa-eraser" type="submit" label="Limpar" (click)="form.reset();"></button>
        </div>
    </div>
  </form>

  <div class="ui-g">
    <div class="ui-g-12">

      <p-table [value]="usuarios" [responsive]="true"
        [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)"
        #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Construtora</th>
            <th class="width100px">Situação</th>
            <th class="col-acoes-header">Ações</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-usuario>
          <tr>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ (usuario.construtora == null) ? '' : usuario.construtora.razaoSocial }}</td>
            <td>
              <span *ngIf="usuario.administrador">{{ usuario.ativo ? 'Ativo' : 'Inativo' }}</span>
              <a *ngIf="!usuario.administrador"
                 href="javascript:;"
                 [pTooltip]="usuario.ativo ? 'Desativar' : 'Ativar'"
                 tooltipPosition="top"
                 (click)="alternarStatus(usuario)">{{ usuario.ativo ? 'Ativo' : 'Inativo' }}</a>
            </td>
            <td class="col-acoes">
              <button pButton
                      icon="fa fa-pencil-alt"
                      [disabled]="usuario.administrador"
                      class="width25px"
                      pTooltip="Editar"
                      tooltipPosition="top"
                      [routerLink]="['/usuarios', usuario.id]"></button>

              <button pButton
                      icon="fa fa-trash"
                      [disabled]="usuario.administrador"
                      class="width25px"
                      pTooltip="Excluir"
                      tooltipPosition="top"
                      (click)="confirmarExclusao(usuario)"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhum registro encontrado
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12">
      <button pButton icon="fa fa-file" label="Novo" routerLink="/usuarios/novo"></button>
    </div>
  </div>

</div>
