<div class="container-full">
    {{mensagem}}
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar()">
    <div class="ui-g">
      <div class="ui-g-12">
        <label for="nome" class="required">Nome</label>
        <input type="text"
               #nomeField
               id="nome"
               name="nome"
               [(ngModel)]="nome"
               pInputText
               required
               class="form-control">
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" icon="fa fa-save" label="Salvar" [disabled]="nomeField.value.trim() == ''"></button>
      </div>
    </div>
  </form>
</div>