<div class="content-section introduction">
  <span class="feature-title">{{title.getTitle()}}</span>
</div>

<div class="container-full">

  <div class="div-padding-bottom">
    <p-panel header="Filtros da Pesquisa" [toggleable]="true" [collapsed]="true">
      <form #form autocomplete="off" (ngSubmit)="pesquisar()">
        <div class="ui-g">
          <div class="ui-g-12 ui-fluid">
            <label for="razaoSocial">Razão social</label>
            <input pInputText type="text" id="razaoSocial" name="razaoSocial" [(ngModel)]="filtro.razaoSocial">
          </div>
          <div class="ui-g-12">
            <button pButton icon="fa fa-search" type="submit" label="Pesquisar"></button>
            <button pButton icon="fa fa-eraser" type="submit" label="Limpar" (click)="form.reset();"></button>
          </div>
        </div>
      </form>
    </p-panel>
  </div>

  <div class="div-padding-bottom">
    <p-panel header="Resultados da Pesquisa">
      <p-table [value]="construtoras" [responsive]="true"
        [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)"
        #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Razão social</th>
            <th class="width170px">CNPJ</th>
            <th class="width100px">Situação</th>
            <th class="col-acoes-header">Ações</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-construtora>
          <tr>
            <td>{{ construtora.razaoSocial }}</td>
            <td>{{ construtora.cnpj }}</td>
            <td>
              <a href="javascript:;"
                [pTooltip]="construtora.ativo ? 'Desativar' : 'Ativar'"
                tooltipPosition="top"
                (click)="alternarStatus(construtora)">
                {{ construtora.ativo ? 'Ativo' : 'Inativo' }}
              </a>
            </td>
            <td class="col-acoes">
              <button pButton
                *ngIf="auth.temPermissao('ROLE_CADASTRAR_CONSTRUTORA')"
                icon="fa fa-pencil-alt"
                class="width25px"
                pTooltip="Editar"
                tooltipPosition="top"
                [routerLink]="['/construtoras', construtora.id]"></button>

              <button pButton
                *ngIf="auth.temPermissao('ROLE_REMOVER_CONSTRUTORA')"
                icon="fa fa-trash"
                class="width25px"
                pTooltip="Excluir"
                tooltipPosition="top"
                (click)="confirmarExclusao(construtora)"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <div>Nenhum registro encontrado</div>
        </ng-template>
      </p-table>
    </p-panel>
  </div>

  <button pButton
          *ngIf="auth.temPermissao('ROLE_CADASTRAR_CONSTRUTORA')"
          icon="fa fa-file"
          label="Novo"
          routerLink="/construtoras/novo"></button>
          
</div>