<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark nav-background-color" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="navbar-brand navbar-brand-logo" routerLink="/pagina-inicial"><img src="/assets/images/logo.png" alt="logo"/></a>
    <a class="navbar-brand" routerLink="/pagina-inicial">Projeto Medição</a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_PESQUISAR_CONSTRUTORA')">
        <a mdbWavesEffect class="nav-link waves-light" routerLink="/construtoras">Construtoras<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_PESQUISAR_USUARIO')">
        <a mdbWavesEffect class="nav-link waves-light" routerLink="/usuarios">Usuários</a>
      </li>
      <li class="nav-item" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_PESQUISAR_OBRA')">
        <a mdbWavesEffect class="nav-link waves-light" routerLink="/obras">Obras</a>
      </li>
      <li class="nav-item" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_PESQUISAR_CONTRATO')">
        <a mdbWavesEffect class="nav-link waves-light" routerLink="/contratos">Contratos</a>
      </li>
      <li class="nav-item" routerLinkActive="ativo" *ngIf="auth.temPermissao('ROLE_PESQUISAR_MEDICAO')">
        <a mdbWavesEffect class="nav-link waves-light" routerLink="/medicoes">Medição</a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
          <mdb-icon fas icon="user"></mdb-icon> {{ auth.jwtPayload?.usuario.nome }}<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a mdbWavesEffect class="dropdown-item waves-light" href="javascript:alert('Esta funcionalidade ainda não foi desenvolvida!');">Meu cadastro</a>
          <a mdbWavesEffect class="dropdown-item waves-light" (click)="logout()">Sair</a>
        </div>
      </li>
    </ul>
  </links>
</mdb-navbar>