<div class="ui-g">
  <div class="ui-g-12 ui-fluid">
    <div class="div-padding-bottom">
      <p-panel header="Cadastro Rápido" [toggleable]="true" [collapsed]="true">
        <form #f autocomplete="off" (ngSubmit)="salvarServicos()">
          <div class="ui-g">
            <div class="ui-g-12 ui-fluid">
              <label for="idUnidadeMedidaSelecionada" class="required">Unidade de Medida</label>
              <p-dropdown emptyFilterMessage="Nenhum registro encontrado"
                          inputId="idUnidadeMedidaSelecionada"
                          placeholder="Selecione..."
                          [filter]="true"
                          [options]="unidadesMedidas"
                          [(ngModel)]="idUnidadeMedidaSelecionada"
                          name="idUnidadeMedidaSelecionada"
                          #ddUnidadeMedida="ngModel"
                          required></p-dropdown>
  
              <app-message [control]="ddUnidadeMedida" error="required"
                text="Informe a unidade de medida"></app-message>
            </div>
            <div class="ui-g-12 ui-fluid">
              <label for="nomes" class="vertical-align-middle-int-box required">Nomes dos serviços</label>
              <!-- <textarea autoResize="autoResize" removido por causa de bug na rolagem -->
              <textarea #nomesField
                        placeholder="Tecle enter, dentro da caixa de texto, sempre que quiser incluir um novo registro"
                        id="nomes"
                        name="nomes"
                        [rows]="5"
                        [cols]="30"
                        pInputTextarea></textarea>              
            </div>
            <div class="ui-g-12">
              <button pButton icon="fa fa-save" type="submit" label="Salvar todos" class="primeNgButtonBugFix" [disabled]="!idUnidadeMedidaSelecionada || nomesField.value.trim().length == 0"></button>
            </div>
          </div>
        </form>
      </p-panel>
    </div>
    
    <div class="div-padding-bottom">
      <p-panel header="Servicos Cadastrados">
        <div class="div-padding-bottom">
          <p-table [value]="servicos" [responsive]="true"
            [paginator]="false" #tabela>
            <ng-template pTemplate="header">
              <tr>
                <th>Nome</th>
                <th class="width170px">Unidade de Medida</th>
                <th class="col-ordenacao-header">Ordenação</th>
                <th class="col-acoes-header">Ações</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-servico let-i="rowIndex">
              <tr>
                <td>{{ servico.nome }}</td>
                <td>{{ servico.unidadeMedida.nome }}</td>
                <td class="col-ordenacao">
                  <button pButton
                          [disabled]="i == 0"
                          icon="pi pi-angle-up"
                          class="width25px"
                          pTooltip="Mover para cima"
                          tooltipPosition="top"
                          (click)="changeArrayOrder(servicos, i, i-1)"></button>
                  <button pButton
                          [disabled]="i == servicos.length-1"
                          icon="pi pi-angle-down"
                          class="width25px"
                          pTooltip="Mover para baixo"
                          tooltipPosition="top"
                          (click)="changeArrayOrder(servicos, i, i+1)"></button>

                  <button pButton
                          [disabled]="i == 0"
                          icon="pi pi-angle-double-up"
                          class="width25px"
                          pTooltip="Mover para o início"
                          tooltipPosition="top"
                          (click)="moveArrayIndex(servicos, i, 0)"></button>
                  <button pButton
                          [disabled]="i == servicos.length-1"
                          icon="pi pi-angle-double-down"
                          class="width25px"
                          pTooltip="Mover para o fim"
                          tooltipPosition="top"
                          (click)="moveArrayIndex(servicos, i, servicos.length-1)"></button>
                </td>
                <td class="col-acoes">
                  <button pButton
                          icon="fa fa-pencil-alt"
                          class="width25px"
                          pTooltip="Editar"
                          tooltipPosition="top"
                          (click)="editar(servico)"></button>
                  <button pButton
                          icon="fa fa-trash"
                          class="width25px"
                          pTooltip="Excluir"
                          tooltipPosition="top"
                          (click)="confirmarExclusao(servico)"></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <div>Nenhum registro encontrado</div>
            </ng-template>
          </p-table>
        </div>
        <button pButton
                icon="fa fa-save"
                type="submit"
                label="Salvar ordenação"
                class="primeNgButtonBugFix"
                (click)="salvarOrdenacao()"></button>
      </p-panel>
    </div>
  </div>
</div>