<form #f="ngForm" autocomplete="off" (ngSubmit)="salvarContrato(f)">
  <div class="ui-g">

    <div class="ui-g-12 ui-fluid">
      <label for="numero">Número</label>
      <input pInputText type="text" id="numero" name="numero"
        [(ngModel)]="contrato.numero"
        #numero="ngModel">
    </div>

    <div class="ui-g-12 ui-fluid">
        <label for="descricao" class="required">Descrição</label>
        <input pInputText type="text" id="descricao" name="descricao"
          [(ngModel)]="contrato.descricao"
          #descricao="ngModel" required minlength="1">
  
        <app-message [control]="descricao" error="required"
          text="Informe o descricao"></app-message>
        <app-message [control]="descricao" error="minlength"
          text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

    <div *ngIf="auth.jwtPayload.administrador" class="ui-g-12 ui-fluid">
      <label for="idConstrutoraSelecionada" class="required">Construtora</label>
      <p-dropdown emptyFilterMessage="Nenhum registro encontrado"
                  inputId="idConstrutoraSelecionada"
                  placeholder="Selecione..."
                  [filter]="true"
                  [options]="construtoras"
                  (onChange)="carregarObras()"
                  [(ngModel)]="idConstrutoraSelecionada"
                  name="idConstrutoraSelecionada"
                  #ddConstrutora="ngModel"
                  required></p-dropdown>

      <app-message [control]="ddConstrutora" error="required"
        text="Informe a construtora"></app-message>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label for="idObraSelecionada" class="required">Obra</label>
      <p-dropdown emptyFilterMessage="Nenhum registro encontrado"
                  inputId="idObraSelecionada"
                  placeholder="Selecione..."
                  [filter]="true"
                  [options]="obras"
                  [(ngModel)]="idObraSelecionada"
                  name="idObraSelecionada"
                  #ddObra="ngModel"
                  required
                  [disabled]="!idConstrutoraSelecionada"></p-dropdown>

      <app-message [control]="ddObra" error="required"
        text="Informe a obra"></app-message>
    </div>

    <div class="ui-g-12">
      <button pButton icon="fa fa-save" type="submit" label="Salvar" [disabled]="f.invalid"></button>
      <button pButton icon="fa fa-file" type="button" label="Novo" (click)="novo(f)"></button>
      <button pButton icon="fa fa-search" label="Pesquisa" routerLink="/contratos"></button>
    </div>

  </div>
</form>