<div class="content-section introduction">
  <span class="feature-title">{{title.getTitle()}}</span>
</div>
  
<div class="container-full">
  
  <div class="div-padding-bottom">
    <p-panel header="Filtros da Pesquisa" [toggleable]="true" [collapsed]="true">
      <form #form autocomplete="off" (ngSubmit)="pesquisar()">
        <div class="ui-g">
          <div class="ui-g-12 ui-fluid">
            <label for="nome">Nome</label>
            <input pInputText type="text" id="nome" name="nome" [(ngModel)]="filtro.nome">
          </div>
          <div *ngIf="auth.jwtPayload.usuario.administrador" class="ui-g-12 ui-fluid">
            <label for="idConstrutoraSelecionada">Construtora</label>
            <p-dropdown emptyFilterMessage="Nenhum registro encontrado"
                        inputId="idConstrutoraSelecionada"
                        placeholder="Selecione..."
                        [filter]="true"
                        [options]="construtoras"
                        [(ngModel)]="idConstrutoraSelecionada"
                        name="idConstrutoraSelecionada"></p-dropdown>
          </div>
          <div class="ui-g-12">
            <button pButton icon="fa fa-search" type="submit" label="Pesquisar"></button>
            <button pButton icon="fa fa-eraser" type="submit" label="Limpar" (click)="form.reset();"></button>
          </div>
        </div>
      </form>
    </p-panel>
  </div>

  <div class="div-padding-bottom">
    <p-panel header="Resultados da Pesquisa">
      <p-table [value]="obras" [responsive]="true"
        [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)"
        #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th *ngIf="auth.jwtPayload.usuario.administrador">Construtora</th>
            <th>Usuário responsável</th>
            <th class="width100px">Situação</th>
            <th class="col-acoes-header">Ações</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-obra>
          <tr>
            <td>{{ obra.nome }}</td>
            <td *ngIf="auth.jwtPayload.usuario.administrador">{{ (obra.construtora == null) ? '' : obra.construtora.razaoSocial }}</td>
            <td>{{ obra.usuarioResponsavel.nome }}</td>
            <td>
              <a href="javascript:;"
                [pTooltip]="obra.ativo ? 'Desativar' : 'Ativar'"
                tooltipPosition="top"
                (click)="alternarStatus(obra)">{{ obra.ativo ? 'Ativo' : 'Inativo' }}</a>
            </td>
            <td class="col-acoes">
              <button pButton
                      icon="fa fa-pencil-alt"
                      class="width25px"
                      pTooltip="Editar"
                      tooltipPosition="top"
                      [routerLink]="['/obras', obra.id]"></button>

              <button pButton
                      icon="fa fa-trash"
                      class="width25px"
                      pTooltip="Excluir"
                      tooltipPosition="top"
                      (click)="confirmarExclusao(obra)"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <div>Nenhum registro encontrado</div>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
  
  <button pButton
          *ngIf="auth.temPermissao('ROLE_CADASTRAR_OBRA')"
          icon="fa fa-file"
          label="Novo"
          routerLink="/obras/novo"></button>
            
</div>