table {
    table-layout: fixed;
}
table th, table td {
    overflow: hidden;
}
.table .thead-light th {
    background-color: cornsilk;
    font-size: 12px;
}
.table th, table td {
    font-weight: 450;
    color: #495057;
}
.table td {
    font-size: 11px;
}