<div class="container" *ngIf="processando">
  <div style="text-align: center;"><p-progressSpinner></p-progressSpinner></div>
  <div style="text-align: center;">Processando, aguarde...</div>
</div>
<div *ngIf="!processando">
  <table mdbTable mdbTableScroll scrollX="true" scrollY="true" maxWidth="100%" maxHeight="100%" bordered="true" striped="true">
    <thead class="thead-light">
      <tr>
        <th scope="col" rowspan="2" class="text-center align-middle width300px">SERVIÇOS</th>
        <ng-container *ngFor="let grupo of grupos">
          <th *ngIf="grupo.id == -1" scope="col" colspan="2" class="text-center align-middle width250px">{{grupo.nome}}</th>
          <th *ngIf="grupo.id != -1" scope="col" colspan="3" class="text-center align-middle width360px">{{grupo.nome}}</th>
        </ng-container>
      </tr>
      <tr mdbTableCol>
        <ng-container *ngFor="let grupo of grupos">
          <th scope="col" class="text-center align-middle width100px">QTDE.</th>
          <th scope="col" class="text-center align-middle width100px">CUB</th>
          <th *ngIf="grupo.id != -1" scope="col" class="text-center align-middle">%</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let servico of servicos">
        <tr>
          <td class="align-middle">{{servico.nome}}</td>
          <ng-container *ngFor="let grupo of grupos">
            <td><input type="text" class="form-control width100px" [disabled]="grupo.id == -1 || grupo.id == -2" value="{{matriz['idServico' + servico.id + 'idGrupo' + grupo.id].quantidade}}"></td>
            <td><input type="text" class="form-control width100px" [disabled]="grupo.id > 0 || grupo.id == -2" value="{{matriz['idServico' + servico.id + 'idGrupo' + grupo.id].cub}}"></td>
            <td *ngIf="grupo.id != -1"><input type="text" class="form-control width70px" [disabled]="grupo.id == -2" value="{{ matriz['idServico' + servico.id + 'idGrupo' + grupo.id].porcentagem}}"></td>
            <!--
            matriz['idServico' + servico.id + 'idGrupo' + grupo.id].quantidade
            matriz['idServico' + servico.id + 'idGrupo' + grupo.id].cub
            matriz['idServico' + servico.id + 'idGrupo' + grupo.id].porcentagem
            -->
          </ng-container>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <button mdbBtn color="info" (click)="calcularTotais()">Calcular totais</button>
  <button mdbBtn color="info" (click)="salvar()">Salvar</button>
</div>