<div class="content-section introduction">
  <span class="feature-title">{{title.getTitle()}}</span>
</div>
<div class="container-full">
  <div class="ui-g">
    <div class="ui-g-12">
      <label class="required">Nome</label>
      <input type="text"
              pInputText
              value="{{medicao.nome}}"
              readonly
              class="form-control">
    </div>
    <div class="div-padding-left div-padding-bottom">
      <button pButton
              type="button"
              icon="fa fa-edit"
              label="Renomear"
              (click)="renomear(this.medicao.nome)"></button>
      <button pButton
              *ngIf="auth.temPermissao('ROLE_CADASTRAR_MEDICAO')"
              icon="fa fa-clone"
              label="Salvar cópia..."
              (click)="salvarCopia(this.medicao.nome)"></button>
    </div>
  </div>
</div>
<!-- <div class="container-full"> -->
<div>
  <table mdbTable mdbTableScroll scrollX="true" scrollY="true" maxWidth="100%" maxHeight="100%" bordered="true" striped="true">
    <thead class="thead-light">
      <tr>
        <th scope="col" rowspan="2" class="text-center align-middle width250px">SERVIÇOS</th>
        <ng-container *ngFor="let grupo of grupos">
          <th *ngIf="grupo.tipoGrupo.id == tipoGrupoEnum.TOTAL" scope="col" colspan="2" class="text-center align-middle width220px">{{grupo.nome}}</th>
          <th *ngIf="grupo.tipoGrupo.id != tipoGrupoEnum.TOTAL" scope="col" colspan="3" class="text-center align-middle width330px">{{grupo.nome}}</th>
        </ng-container>
      </tr>
      <tr mdbTableCol>
        <ng-container *ngFor="let grupo of grupos">
          <th scope="col" class="text-center align-middle">QTDE.</th>
          <th scope="col" class="text-center align-middle">CUB</th>
          <th *ngIf="grupo.tipoGrupo.id != tipoGrupoEnum.TOTAL" scope="col" class="text-center align-middle">%</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let servico of servicos">
        <tr>
          <td class="align-middle td-matriz-medicao-servicos">{{servico.nome}} ({{servico.unidadeMedida.sigla}})</td>
          <ng-container *ngFor="let grupo of grupos">
            <td>
              <input type="text"
                     inputmode="numeric"
                     [textMask]="{mask: decimalMask}"
                     class="form-control width100px input-matriz-medicao"
                     [readonly]="grupo.tipoGrupo.id == tipoGrupoEnum.TOTAL || grupo.tipoGrupo.id == tipoGrupoEnum.SUBTOTAL || !usuarioLogadoContemRoleAdministrarMedicao"
                     value="{{matriz['idServico' + servico.id + 'idGrupo' + grupo.id]?.quantidade | number }}"
                     (change)="inputMatrizChange($event, matriz['idServico' + servico.id + 'idGrupo' + grupo.id], 'quantidade')"/>
            </td>
            <td>
              <input type="text"
                     inputmode="numeric"
                     [textMask]="{mask: decimalMask}"
                     class="form-control width100px input-matriz-medicao"
                     [readonly]="grupo.tipoGrupo.id != tipoGrupoEnum.TOTAL || !usuarioLogadoContemRoleAdministrarMedicao"
                     value="{{matriz['idServico' + servico.id + 'idGrupo' + grupo.id]?.cub | number }}"
                     (change)="inputMatrizChange($event, matriz['idServico' + servico.id + 'idGrupo' + grupo.id], 'cub')"/>
            </td>
            <td *ngIf="grupo.tipoGrupo.id != tipoGrupoEnum.TOTAL" [ngStyle]="setPercentualStylesByIndex('idServico' + servico.id + 'idGrupo' + grupo.id)">
              <input type="text"
                     inputmode="numeric"
                     [textMask]="{mask: decimalMask}"
                     class="form-control width100px input-matriz-medicao input-transparent"
                     [readonly]="grupo.tipoGrupo.id == tipoGrupoEnum.SUBTOTAL"
                     value="{{ matriz['idServico' + servico.id + 'idGrupo' + grupo.id]?.percentual | number }}"
                     (input)="inputMatrizChange($event, matriz['idServico' + servico.id + 'idGrupo' + grupo.id], 'percentual')"/>
            </td>
          </ng-container>
        </tr>
      </ng-container>
      <tr class="background-color-cornsilk">
        <td class="align-middle">Total</td>
        <ng-container *ngFor="let grupo of grupos">
          <td></td>
          <td>
            <input *ngIf="grupo.tipoGrupo.id == tipoGrupoEnum.TOTAL"
                   type="text"
                   inputmode="numeric"
                   class="form-control width100px input-matriz-medicao"
                   readonly="true"
                   value="{{cubTotalGeral | number : '1.2-2' }}"/>
            <input *ngIf="grupo.tipoGrupo.id == tipoGrupoEnum.SUBTOTAL"
                   type="text"
                   inputmode="numeric"
                   class="form-control width100px input-matriz-medicao"
                   readonly="true"
                   value="{{cubSubTotalGeral | number : '1.2-2' }}"/>
          </td>
          <td *ngIf="grupo.tipoGrupo.id != tipoGrupoEnum.TOTAL && grupo.tipoGrupo.id != tipoGrupoEnum.SUBTOTAL"></td>
          <td *ngIf="grupo.tipoGrupo.id == tipoGrupoEnum.SUBTOTAL" [ngStyle]="setPercentualStylesByValue(percentualSubTotalGeral)">
            <input *ngIf="grupo.tipoGrupo.id == tipoGrupoEnum.SUBTOTAL"
                   type="text"
                   inputmode="numeric"
                   class="form-control width100px input-matriz-medicao"
                   readonly="true"
                   value="{{percentualSubTotalGeral | number : '1.2-2' }}"/>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
  <div class="ui-g-12">
    <!--<button pButton label="Calcular totais" (click)="calcularTotais()"></button>-->
    <button pButton
            class="margin-bottom-10px"
            *ngIf="auth.temPermissao('ROLE_CADASTRAR_MEDICAO')"
            icon="fa fa-save"
            label="Salvar matriz"
            (click)="salvar()"></button>
    <button pButton icon="fa fa-search" label="Pesquisa" routerLink="/medicoes"></button>
  </div>
</div>