<div class="content-section introduction">
  <span class="feature-title">{{title.getTitle()}}</span>
</div>

<div class="container-full">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
    <div class="ui-g">

      <div class="ui-g-12 ui-fluid required">
        <label for="razaoSocial">Razão social</label>
        <input pInputText type="text" id="razaoSocial" name="razaoSocial"
          [(ngModel)]="construtora.razaoSocial"
          #razaoSocial="ngModel" required minlength="1">

        <app-message [control]="razaoSocial" error="required"
          text="Informe a razão social"></app-message>
        <app-message [control]="razaoSocial" error="minlength"
          text="Mínimo de {{ razaoSocial.errors?.minlength?.requiredLength }} caracteres"></app-message>
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label for="cnpj">CNPJ</label>
          <p-inputMask inputId="cnpj" name="cnpj" mask="99.999.999/9999-99"
          [(ngModel)]="construtora.cnpj"></p-inputMask>
      </div>

      <div class="ui-g-12">
        <button pButton icon="fa fa-save" type="submit" label="Salvar" [disabled]="f.invalid"></button>
        <button pButton icon="fa fa-file" type="button" label="Novo" (click)="novo(f)"></button>
        <button pButton icon="fa fa-search" label="Pesquisa" routerLink="/construtoras"></button>
      </div>

    </div>
  </form>
</div>