html, body {
  height: 100%;
}

.navbar {
  /* padding: 0.5rem 1rem; */
  padding: 0.1rem 1rem;
  padding-left: 10px;
}
.navbar-brand {
  margin-right: 10px;
}
.navbar-brand-logo {
  width: 50px;
}

label {
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: -12px;
}

/* Início - Título da página */
.content-section.introduction {
  background-image: linear-gradient(to left,#2bc0ec,#1b81d7);
  color: #fff;
}
.content-section {
  display: block;
  /* padding: 30px; */
  padding: 10px;
  overflow: hidden;
  background-color: #f5f7f8;
}

.content-section:first-of-type > div > span {
  line-height: 1.5em;
}
.feature-title {
  /* font-size: 30px; */
  font-size: 20px;
  /* margin-bottom: 20px; */
  display: block;
}
/* Fim - Título da página */

.col-acoes, .col-acoes-header {
  width: 90px;
  text-align: center;
}

a, button {
  margin-right: 5px
}

.width25px {
  width: 25px !important;
}

.width70px {
  width: 70px;
}

.width100px {
  width: 100px;
}

.width125px {
  width: 125px;
}

.width170px {
  width: 170px;
}

.width220px {
  width: 220px;
}

.width250px {
  width: 250px;
}

.width330px {
  width: 330px;
}

.width350px {
  width: 350px;
}

.input-matriz-medicao {
  margin-top: -3px;
  margin-bottom: -3px;
  margin-left: -8px;
  margin-right: -4px;
  border-color: #000;
}

.input-matriz-medicao:read-only {
  border: none;
  background: transparent;
}

.input-transparent {
    background: transparent;
}

table.table th, table.table td {
	padding-top: 5px;
	padding-bottom: 5px;
}

/*.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #e1f8ff;
}*/

.background-color-cornsilk {
	background-color: cornsilk;
}

/*
// Remove o botão step dos input type number
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
*/

.container-full {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}

.div-padding-bottom {
  padding-bottom: 10px;
}

.ui-panel-content {
  padding: 0 !important;
}

/* Início - Customizações para primeng */

/* Forçando estilos novamente, pois o tema omega do primeng está retirando as bordas do componente de abas */
body .ui-tabview .ui-tabview-panels {
  background-color: #ffffff;
  /* padding: 0.571em 1em; */
  padding: 0px;
  border: 1px solid #c8c8c8;
  color: #333333;
}

.ui-tabview .ui-tabview-panel {
	padding: 0px;
}

/* Customização dos espaçamentos dos panels */
.ui-panel .ui-panel-titlebar {
  padding: .4em .20em;
}

/* Fim - Customizações para primeng */

.nav-background-color {
  /*background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);*/
  background: #141E30;
  background: -webkit-linear-gradient(to right, #243B55, #141E30);
  background: linear-gradient(to right, #243B55, #141E30);
}