/* You can add global styles to this file, and also import other style files */
/*body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

.ui-dropdown-filter-container {
  width: 100%;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.col-valor {
  width: 120px;
  text-align: right;
}

.col-valor-header {
  width: 120px;
}

.col-data {
  width: 120px;
  text-align: center;
}

.col-data-header {
  width: 120px;
}
*/

label {
  font-weight: bold;
}

.col-acoes, .col-acoes-header {
  width: 90px;
  text-align: center;
}

a, button {
  margin-right: 5px
}

.width25px {
  width: 25px;
}

.width100px {
  width: 100px;
}

.width170px {
  width: 170px;
}

.width250px {
  width: 250px;
}

.width300px {
  width: 300px;
}

.width360px {
  width: 360px;
}

/*
// Remove o botão step dos input type number
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
*/

.container-full {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

/* Forçando estilos novamente, pois o tema omega do primeng está retirando as bordas do componente de abas */
body .ui-tabview .ui-tabview-panels {
  background-color: #ffffff;
  padding: 0.571em 1em;
  border: 1px solid #c8c8c8;
  color: #333333;
}